.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.game-cell {
  flex: 0 1 33.333%;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  font-size: 80px;
}

.game-cell:hover {
  background-color: #f6f3f3;
}

#winner{
  font-size: 50px;
  color: green;
}